
<%= form_for @attachment do |f| %>
    <p><%= f.text_field :name, :multiple => true %>
    <%= f.file_field :image, type: :file, multiple: true %></p>

    <p><%= f.text_field :name, :multiple => true %>
    <%= f.file_field :image, type: :file, multiple: true %></p>
    
    <p><%= f.text_field :name, :multiple => true %>
    <%= f.file_field :image, type: :file, multiple: true %></p>

    <p><%= f.text_field :name, :multiple => true %>
    <%= f.file_field :image, type: :file, multiple: true %></p>
 

    <%= f.submit %>
<% end  %>