

    <!-- Navigation -->
    <div id="feature">
     <div class="container" id="hero">
        <div class="search_bar">
               <h1 class="leadline">Free local classifieds from <br> all over Australia</h1>
            <%= form_tag listings_path, method: 'GET' do %> 
            <div class="col-md-4 col-md-push-4">
                <div class="input-group">
                    <%= text_field_tag :query, nil, placeholder: 'Search listings', class: 'form-control input' %>
                    <span class="input-group-btn">
                        <%= submit_tag 'Search', class: 'btn btn-primary' %> 
                    </span>
                        <% end %> 
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div>
</div>
</div> 
   
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Section -->
        <div class="row">
            <center><h1 class="page-header">Recent Listings</h1></center>
                <% @listings.each do |listing| %>
                    <% if listing.attachments.first  %>
                        <div class="col-md-4 img-portfolio">
                                 <%= link_to listing do %> 
                                        <%= image_tag listing.attachments.first.image.url(:thumb) %>
                                        <% end %>
                            <p class="recenttitle"><%= listing.title %></p>
                        </div>
                    <% end %>
                <% end %>
                       
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">About Listr.ninja</h2>
            </div>
            <div class="col-md-6">
                <p>Listr.ninja is a free Australian online classifieds</p>
                <ul>
                    <li><strong>Free Service</strong>
                    </li>
                    <li>Create and edit your listings</li>
                    <li>Upload multiple images per listing</li>
                    <li>Search for listings</li>
                    <li>View the location of the listing with google maps</li>
                    <li>View recently listings on our homepage</li>
                </ul>
                <p>Listr.ninja allows buyers and sellers to interact through our online classifieds system. Our mission is to build a simple, clean and user friendly application which helps our users to buyer and sell possessions</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Don't wait! Sign up now to post listings online and sell your possessions quickly!</p>
                </div>
                <div class="col-md-4">
                    <%= link_to "Sign Up", new_user_registration_path, {:class =>"btn btn-lg btn-primary btn-block"} %>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Listr.ninja 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
