

<h1><%= @category.name %></h1>


<p><% @category.listings.each do |listing| %>
  <%= link_to listing.title, listing %>
<% end %></p>

<br>
<br>
<br>
<br>
<br>
<br>
<p><%= link_to 'Add a Listing', new_listing_path %></p>

<p><%= link_to 'Return to Categories', categories_path %></p>

<p><%= link_to 'Edit This Category', edit_category_path %></p>

<p><%= link_to 'Delete This Category', @category, method: :delete, data: { confirm: 'Are you sure?' } %></p>