<!DOCTYPE html>
<html>
<head>
  <title>Listr</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav>
        <table>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Categories', categories_path %></li>
            <li><%= link_to 'Listings', listings_path %></li>
          </ul>
        </table>
      </nav>
    </div>
  </header>


  <%= render 'layouts/header' %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container2">
    <%= yield %>
  </div>

  <%= form_tag listings_path, method: 'GET' do %> 
    <%= text_field_tag :query, nil, placeholder: 'Search' %>
    <%= submit_tag 'Search' %> 
  <% end %> 

</body>
</html>
